@font-face {
    font-family: Funnel;
    src: url("/fonts/FunnelDisplay-VariableFont_wght.ttf") format("truetype");
}
@font-face {
    font-family: WorkSans;
    src: url("/fonts/WorkSans.ttf") format("truetype");
}